{% extends 'base.html' %}
{% load static %}

{% block container %}
<main class="profile">
  <section>
    <article class="profile-data">
      <img src="{% if user.profile.picture %}{{user.profile.picture.url}}{% endif %}" alt="" class="profile-picture" />
      <h4>{{user.username}}</h4>
    </article>
  </section>
  <section class="videos">
    <h2>Videos</h2>

    <article class="videos-container">
        {% for video in videos %}
      <div class="video">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.uu_id}}" frameborder="0" allowfullscreen></iframe>

        <h4>{{video.title}}</h4>

        <a href="">{{video.profile.user.username}}</a>
      </div>
      {% endfor %}
    </article>
  </section>
</main>
{% endblock %}
